/* Reset some default styles */

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 150px  1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "side header"
        "side main"
        ;
    margin: 0;
}

@font-face {
    font-family: 'MyFont';
    src: url('/static/fonts/myfont.ttf') format('truetype');
  }

.header {
    background-color: #fff;
    /* grid-column: 1 / 3;
    grid-row: 1/ 2; */
    grid-area: header;

}
.sidebar {
    background-color: #1c1f23;
    /* grid-column: 1/2;
    grid-row: 1/3; */
    grid-area: side;
}

.main{
    background-color: #c3c5ca;
    padding: 25px;
    /* grid-column: 2/3;
    grid-row: 2/3; */
    grid-area: main;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "g1 g2 g3"
        "about about g4"
        "about about g5"
        ;
}

.card{
    background-color: white;
}
  
.card:not(:nth-child(4)){
    height: 15rem;
    width: 25rem;
}

.card:nth-child(1) {
    grid-area: g1;
    
}

.card:nth-child(2) {
    grid-area: g2;
}

.card:nth-child(3) {
    grid-area: g3;
}

.card:nth-child(4) {
    grid-area: about;
}

.card:nth-child(5) {
    grid-area: g4;
}

.card:nth-child(6) {
    grid-area: g5;
}

@media (max-width: 925px) {
    .main{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 400px);
        grid-template-areas: initial;
    }

    .card{
        grid-area: initial !important;
    }
}

/* Style the heading in the center */
h1 {
color: #000; /* White text */
margin: 0;
font-family: 'MyFont', Arial, sans-serif;
}

h2{
    font-family: 'MyFont', Arial, sans-serif;

}
p {
font-family: 'MyFont', Arial, sans-serif;
}

/* CSS for the chart containers */
.chart-container {
margin-bottom: 30px; /* Add some bottom margin to create a gap between charts */
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #f9f9f9;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
height: 300px;

}

/* CSS for the chart headings */
.chart-container h2 {
margin-top: 0;
font-size: 18px;
color: #333;
}

/* Optional: If you want the charts to have a fixed height */
.chart-container canvas {
height: 200px; /* Adjust the height as needed */
margin-bottom: 20px;
}
  